<%-include('./adminIncludes/head.ejs')%>
    <div class="flex flex-col">
        <%-include('./adminIncludes/nav.ejs')%>
        <main>
            <h1 class="">Content</h1>


         </main>
    </div>


    <%-include('./adminIncludes/footer.ejs')%>
</body>
</html>