<%-include('../admin/adminIncludes/head.ejs')%>

<%-include('../admin/adminIncludes/nav.ejs')%>

<div class="container flex justify-center  space-y-5 flex-col items-center m-auto bg-gray-50 mt-4 h-96">
    <h1 class="md:text-4xl text-2xl text-green-600">Account created success</h1>
    <h1 class="text-center text-base text-green-600 font-poppins">Please checkout your E-post to verify your account</h1>
    <a href="/admin" class="text-lg px-5 py-3 font-poppins bg-yellow-400 rounded text-gray-800">&#128508; Tillbaka hem</a>
</div>

<%-include('./adminIncludes/footer.ejs')%>

    
</body>
</html>