<div class="flex md:justify-between flex-col md:flex-row p-5">
    <div class="flex flex-col">
        <h1 class="font-semibold text-lg my-3">Produkter</h1>
        <div class="flex flex-col">
            <a href="#" class="font-sm text-gray-700"> Midsuumer SLIM</a>
            <a href="#" class="font-sm text-gray-700"> Midsuumer WAVE</a>
            <a href="#" class="font-sm text-gray-700"> Midsuumer BOLD</a>
        </div>
    </div>
    <div class="flex flex-col">
        <h1 class="font-semibold text-lg my-3">Navigation</h1>
        <div class="flex flex-col">
            <a href="#" class="font-sm text-green-400 mb-2">Hem</a>
            <a href="#" class="font-sm text-gray-700 mb-2">Referenskunder</a>
            <a href="#" class="font-sm text-gray-700 mb-2">Företagsförsäljning</a>
            <a href="#" class="font-sm text-gray-700 mb-2">Machinary</a>
            <a href="#" class="font-sm text-gray-700 mb-2">Om oss</a>
            <a href="#" class="font-sm text-gray-700 mb-2">Investerare</a>
            <a href="#" class="font-sm text-gray-700 mb-2">Hållbarhet</a>
            <a href="#" class="font-sm text-gray-700 mb-2">Kontakta oss</a>
            <a href="#" class="font-sm text-gray-700">Karriär</a>
        </div>
    </div>
    <div class="flex flex-col">
        <h1 class="font-semibold text-lg my-3">Hör av dig</h1>
        <div class="flex flex-col">
            <a href="tel:+46852509610" class="font-sm text-green-400 mb-2">+46(0)8-52509610</a>
            <p class="font-sm text-gray-700 mb-2">Öppettider växel:</p>
            <p class="font-sm text-gray-800 mb-2">Måndag-fredag 07:00 - 18:00</p>
            <a href="mailto:roofs@midsummer.se" class="font-sm text-gray-700 mb-2">roofs@midsummer.se</a>
            <p class="font-sm text-gray-800 my-5 font-bold">Elektronik höjden 6 <br> 175 43 järfälla</p>
        </div>
    </div>
    <div>
        <h1 class="font-semibold text-xl">Följa oss</h1>
        <div class="mt-3">
            <a href="#" class="font-sm text-gray-700">
                <i class="fab fa-facebook text-xl"></i>
            </a>
            <a href="#" class="font-sm text-gray-700">
                <i class="fab fa-instagram text-xl ml-3"></i>
            </a>
            <a href="#" class="font-sm text-gray-700">
                <i class="fab fa-linkedin text-xl ml-3"></i>          
              </a>
        </div>
    </div>
</div>