<div
      class="absolute overflow-hidden helpContent hidden justify-center  items-center w-full inset-y-0 left-0 right-0 bg-transparent">
      <div class="md:w-3/5 mx-2 p-10 bg-gray-100 rounded transition duration-300 ease-in-out">
        <h1 class="font-poppins text-4xl mb-10 text-gray-800">Hjälp</h1>
        <P class="text-gray-800 leading-relaxed	 font-poppins">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam laudantium, odio at possimus doloribus
          dolorem recusandae unde assumenda similique eum eos officiis accusamus velit ipsum nihil id eligendi ratione
          reprehenderit?
          Consectetur fugiat iste perferendis velit.
          <br>
          <br>
          Asperobcaecati saepe enim voluptatibus temporibus voluptate aut corporis odit, porro veniam eaque veritatis.
          Enim nesciunt ipsa molestias labore repudiandae possimus corporis commodi earum numquam.
          Nulla omnis ad exercitationem asperiores laboriosam, quaerat itaque sapiente fugit dicta voluptates esse? Esse
          aliquid pariatur reiciendis harum aliquam nesciunt officia quo!
        </P>
        <div class="mt-6">
          <button class="uppercase rounded py-4 px-4  md:px-10 bg-green-500 text-white font-semibold accept">ok</button>
          <button class=" rounded px-4 py-4 md:px-5 bg-green-500 text-white font-semibold">Jag behöver mer
            hjälp</button>
        </div>
      </div>
    </div>