<div class="
        flex
        justify-between
        items-center
        py-5
        font-sans
        bg-gray-50
        md:px-28
        w-full
        relative
      ">
    <div>
      <a href="/">
        <img class="h-14 ml-4" src="https://midsummer.se/wp-content/uploads/2020/02/MidSumLogo.svg" alt="logo svg" />
      </a>
    </div>
    <div class="space-x-5 flex items-center">
      <a href="#" style="background-color: #5ea924" class="
            md:py-5
            py-2
            capitalize
            md:px-10
            px-5
            text-white text-lg
            rounded
            transition
            duration-300
            hover:bg-green-800
          ">offert</a>
      <button class="mobile-menu">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>

    <div style="top: 100%" class="
          menu-mobile
          side
          min-h-screen
          w-96
          px-16
          z-50
          py-4
          absolute
          right-0
          bg-gray-50
          transform
          translate-x-full
          duration-500
          display-none
          ease-in-out
        ">
      <a href="https://midsummer.se/inspiration/" class="
            block
            py-3
            rounded
            px-3
            text-base
            capitalize
            focus:text-green-500
          ">
        Inspiration
      </a>

      <a href="#" class="
            block
            py-3
            rounded
            px-3
            text-base
            capitalize
            focus:text-green-500
          ">tillbehör
      </a>
      <a href="#" class="
            block
            py-3
            rounded
            px-3
            text-base
            capitalize
            focus:text-green-500
          ">
        Företagsförsäljning
      </a>
      <div class="border-t-2 border-b-2">
        <a href="#" class="
              block
              py-3
              rounded
              px-3
              text-base
              capitalize
              focus:text-green-500
            ">Machinary
        </a>
      </div>
      <a href="#" class="
            block
            py-3
            rounded
            px-3
            text-base
            capitalize
            focus:text-green-500
          ">
        om oss
      </a>
      <a href="#" class="
            block
            py-3
            rounded
            px-3
            text-base
            capitalize
            focus:text-green-500
          ">
        Kontakta oss
      </a>
      <a href="#" class="block py-3 rounded px-3  text-base capitalize focus:text-green-500">
        Investerare
      </a>
      <a href="#" class=" block py-3 rounded px-3 text-base capitalize focus:text-green">
        Karriär
      </a>
      <a href="#" class="block py-3 rounded px-3 text-base capitalize focus:text-green-500">
        Hållbarhet
      </a>
    </div>
  </div>