<div>
    <div
        class="md:p-20 p-5 rounded-xl bg-white md:justify-between items-center justify-center flex m-auto flex-col md:flex-row">
        <div class="flex-auto">
            <p class="md:text-5xl text-xl md:max-w-2xl mb-5 text-center">Anmäl dig till vårt nyhetsbrev</p>
        </div>
        <div class="flex-auto">
            <input class="outline-none transition duration-300 focus:border-green-700 text-sm px-4 py-3 rounded border-2 md:mt-5 w-3/5	" type="text" placeholder="Email">
            <button class="join rounded bg-green-700 px-5 py-3 text-gray-100 lowercase">skicka</button>
        </div>
    </div>
    <div class="mt-10">
        <di class=" flex justify-between items-center">
            <img class="h-10 md:h-14 ml-4" src="https://midsummer.se/wp-content/uploads/2020/02/MidSumLogo.svg"
                alt="logo svg" />
            <button class="uppercase text-gray-500 text-sm">till Toppen &#8593;</button>
        </di>
    </div>
</div>