<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="midsummer.se">
    <meta name="description" content="Midsummer presenterar stolt en ny generation svensktillverkade solcellstak – skräddarsydda efter alla typer av tak och så diskret designade att du knappt ser dem. Investera för framtiden med Midsummers solcellstak">
    <meta name="keywords" content="midsummer.se, midsummer">
    <link rel="canonical" href="https://midsummer.se/">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="DEJAZMIN.ONLINE">
    <link rel="stylesheet" href="/styles.css">
    
    <title>midsummer.se - <%-title%></title>
</head>
<body>