<%-include('./admin/adminIncludes/head.ejs')%>

<%-include('./admin/adminIncludes/nav.ejs')%>

<div class="container flex justify-center  space-y-5 flex-col items-center m-auto bg-gray-50 mt-4 h-96">
    <h1 class="text-4xl text-red-600">Error Occurred</h1>
    <h1 class="text-xl text-red-600 font-poppins">please contact your administrator...</h1>
    <a href="/" class="text-lg px-5 py-3 font-poppins bg-yellow-400 rounded text-gray-800">&#128508; Tillbaka hem</a>
</div>

<%-include('./admin/adminIncludes/footer.ejs')%>

    
</body>
</html>